@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-3xl:1920px;
--breakpoint-4xl: 2560px;
}


body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;
  background-color: #f3f4f6;
  padding: 0;
}
.dot-grid {
  width: 100%;
  height: 554px;
  background-color: #ffffff;
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 16px 16px;
  filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.1));
}


.angled-section {
  width: 100%;
  height: 554px;
  background-color: white;
  background-image: radial-gradient(#ddd 1px, transparent 1px);
  background-size: 20px 20px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

/* Custom scrollbar */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
